<a [style.visibility]="this.authService.firebaseUser ? 'visible' : 'hidden'" [routerLink]="['/me']">
  <h1>Me</h1>
</a>
<a [style.visibility]="this.authService.firebaseUser ? 'visible' : 'hidden'" [routerLink]="['/profile/tu-daj-user-id']">
  <h1>Add friend</h1>
</a>
<a [style.visibility]="this.authService.firebaseUser ? 'hidden' : 'visible'" [routerLink]="['/register']">
  <h1>REGISTER</h1>
</a>
<a [style.visibility]="this.authService.firebaseUser ? 'hidden' : 'visible'"  [routerLink]="['/login']">
  <h1>LOGIN</h1>
</a>


<button [style.visibility]="this.authService.firebaseUser ? 'visible' : 'hidden'" (click)="logout()">Logout</button>
