<div class="create-event-container">
  <div class="event-details-container">
    <div class="margin-bottom">
      <h2>Create Event</h2>
    </div>
    <div>
      <mat-form-field class="margin-bottom">
        <mat-label>Choose a date</mat-label>
        <input [formControl]="date" matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #picker [showSpinners]="true" [stepHour]="1" [stepMinute]="1"></ngx-mat-datetime-picker>
      </mat-form-field>
      <div>
        <mat-form-field class="margin-bottom">
          <mat-label>Creator</mat-label>
          <mat-select [(value)]="selectedCreator">
            <mat-option *ngFor="let choice of availableCreators;let i = index" [value]="i">{{availableCreators[i].VisibleName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <label class="margin-bottom">
        <textarea [(ngModel)]="description"></textarea>
      </label>
    </div>
    <div class="margin-bottom">
      <button mat-button (click)="onSubmit()" > Create </button>
    </div>
  </div>

  <div class="map-table">
    <div class="mymap">
      <agm-map #agmMap
               [latitude]="initMapLat"
               [longitude]="initMapLng"
               [zoom]="6"
               (boundsChange)="onBoundsChange()"
               disableDoubleClickZoom="true">

        <agm-marker *ngFor="let marker of allMarkers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng">
          <agm-info-window [disableAutoPan]="true">
            <div class="show-trash-on-map">
              <app-image *ngIf="marker.images.length > 0" [image]="marker.images[0].Url" [service]="'trash'"></app-image>
              <div>
                <p>Collections made: {{marker.numOfCollections}}</p>
                <button (click)="addToList(marker)">Add</button>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>

      </agm-map>
    </div>
    <div class="trashList">
      <table #table mat-table [dataSource]="selectedTrash" class="mat-elevation-z8">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> <app-image [image]="element.images[0].Url" [service]="'trash'"></app-image> </td>
        </ng-container>

        <ng-container matColumnDef="number-of-collections">
          <th mat-header-cell *matHeaderCellDef> Number of collections</th>
          <td mat-cell *matCellDef="let element"> {{element.numOfCollections}} </td>
        </ng-container>

        <ng-container matColumnDef="remove">
          <th mat-header-cell *matHeaderCellDef> Remove</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="removeFromList(element.id)">Remove</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>
    </div>
  </div>
</div>

