.container {
  display: flex;
  /*margin-top: 12%;*/
}

.report-list{
  border: solid 1px #bfbfbf;
  display: flex;
  margin-right: 20px;
}

.report-items {
  display: flex;
  margin-left: 5%;
  justify-content: center;
  margin-bottom: 20px;
  /*align-items: baseline;*/
  /*align-content: flex-start;*/
}

.collection-form {

}

.map-class{
  width: 100px;
  height: 100px;
}

agm-map{
  width: 100%;
}
