<div>

  <div>
    <app-image [image]="this.society.Avatar" [service]="assignSociety"></app-image>
    <input type="file" (change)="onFileSelected($event)">
  </div>

  <form [formGroup]="societyForm">
    <div>
      <label>Name:</label>
      <input formControlName="name" [value]="this.society.Name">
    </div>

    <div>
      <label>Description:</label>
      <input formControlName="description" [value]="this.society.Description">
    </div>
    <button mat-raised-button (click)="onUpdate()" color="primary">Save</button>
  </form>

<div>
  <button *ngIf="isAdmin" mat-raised-button (click)="onDelete()" color="warn">Delete Society</button>
</div>

  <div class="members">

      <table mat-table [dataSource]="members" class="mat-elevation-z8">

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><app-image [image]="element.user.Avatar" [service]="assignUser"></app-image></td>
        </ng-container>

        <ng-container matColumnDef="first-name">
          <th mat-header-cell *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let element"> {{element.user.FirstName}} </td>
        </ng-container>

        <ng-container matColumnDef="last-name">
          <th mat-header-cell *matHeaderCellDef> Last name </th>
          <td mat-cell *matCellDef="let element"> {{element.user.LastName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.user.Email}} </td>
        </ng-container>

        <ng-container matColumnDef="roles">
          <th mat-header-cell *matHeaderCellDef> Roles </th>
          <td mat-cell *matCellDef="let element;let i = index">
            <mat-form-field>
              <mat-select (selectionChange)="memberPermissionChange($event, i)" disabled="{{!element.showRemove}}" [(value)]="element.role" style="min-width: 200px;" placeholder="">
                <mat-option *ngFor="let role of roles" [value]="role.key">{{role.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="deleteUser">
          <th mat-header-cell *matHeaderCellDef> Remove from society </th>
          <td mat-cell *matCellDef="let element">  <button *ngIf="element.showRemove" mat-raised-button (click)="removeUser(element.user.Id)" color="warn">Remove</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="membersColumnsDef"></tr>
        <tr mat-row *matRowDef="let row; columns: membersColumnsDef;"></tr>
      </table>

    <button mat-raised-button (click)="onMemberPermissionAcceptChanges()" color="primary">Change rights</button>
  </div>

<!--  EVENT LIST, Kde sa odstrani society z organizovania-->

</div>

