:host {
  width: 100%;
}

.view-container {
  width: 100%;
}

.status {
  display: flex;
}

.event-details {
  padding: 0 24px;
}

.title {
  margin: 24px;
}

.info-wrapper {
  display: flex;
}

.left-part {
  width: 500px;
  padding: 16px 24px;
}

.right-part {
  flex-grow: 1;
}

.map-class {
  width: 100%;
  height: 500px;
}

agm-map {
  width: 100%;
  height: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 300px;
}

.bottom {
  padding: 0 24px;
  margin-top: 24px;
  display: flex;
  width: 100%;
}
