<div class="view-container">

  <div class="status">
    <h1 class="title">EVENT DETAILS</h1>
    <button *ngIf="isAdmin || isEditor" mat-button (click)="onEdit()">EDIT</button>
    <button *ngIf="(!statusAttend && !isAdmin)" mat-button (click)="onAttend()"> Attend</button>
    <button *ngIf="statusAttend && !isAdmin" mat-button (click)="onNotAttend()"> Cannot attend</button>
  </div>

  <div class="event-details">
    <div *ngIf="isLoggedIn && editableSocietiesIds.length">
      <mat-form-field>
        <mat-label>Decision as</mat-label>
        <mat-select (selectionChange)="onDesideAsChange()" [(value)]="selectedCreator">
          <mat-option *ngFor="let choice of availableDecisionsAs;let i = index"
                      [value]="i">{{availableDecisionsAs[i].VisibleName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

<div class="info-wrapper">
  <div class="left-part">
    <div>
      <label>Date:</label>
      <p>{{event.Date | date: 'dd/MM/yyyy HH:mm'}}</p>
    </div>

    <div>
      <textarea [value]="event.Description"></textarea>
    </div>

    <div *ngIf="(isEditor || isAdmin) && event.Trash">
      <button mat-button (click)="onCreateCollections()"> Create collection</button>
    </div>
  </div>


  <div class="right-part">
    <div class="map-class">
      <agm-map
        [latitude]="initLat"
        [longitude]="initLng"
        [zoom]="5"
        (mapReady)="onMapReady($event)"
        disableDoubleClickZoom="true">

        <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng">
          <agm-info-window [disableAutoPan]="true">
            <div class="show-trash-on-map">
              <app-image [service]="'trash'" [image]="marker.images[0]"></app-image>
              <div>
                <p>Collections made: {{marker.numOfCollections}}</p>
                <p>Cleaned: {{marker.cleaned ? "yes" : "no"}}</p>
                <button (click)="navigateToTrash(marker.id)">Details</button>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>

    <label>Attendants:</label>
    <div class="table-wrapper">
      <table mat-table [dataSource]="attendants" class="mat-elevation-z8 attendants-table">
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <app-image [image]="element.avatar"></app-image>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Email/Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role</th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
      </table>
    </div>
  </div>
</div>

  <div *ngFor="let collection of showCollectionsTable" class="bottom">
    <app-image [image]="collection.Images[0].Url" [service]="'collections'"></app-image>
    <p>{{collection.Weight}}</p>
        <button mat-button (click)="onShowCollection(collection.Id)">Show</button>
    <button mat-button *ngIf="isAdmin || isEditor" (click)="onEditCollection(collection.Id)">Edit collection</button>
  </div>

</div>
