<mat-nav-list class="nav-list-wrapper">
  <div *ngIf="isLoggedIn$ | async">
    <a [routerLink]=[link.url] *ngFor="let link of loggedInItems">
      <mat-list-item class="sidenav-text">
        <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
        {{ link.name }}
      </mat-list-item>
    </a>
  </div>

  <div *ngIf="!(isLoggedIn$ | async)" class="logged-out-now">
    <a [routerLink]=[link.url] *ngFor="let link of everyoneItems">
      <mat-list-item class="sidenav-text">
          <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
          {{ link.name }}
      </mat-list-item>
    </a>
  </div>

</mat-nav-list>
