<div class="component-container">

  <div class="component-item">
<!--    <mat-form-field>-->
<!--      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="date">-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <ngx-mat-datetime-picker #picker [showSpinners]="true" [stepHour]="1" [stepMinute]="1" [stepSecond]="1">-->
<!--      </ngx-mat-datetime-picker>-->
<!--    </mat-form-field>-->

<!--    <label>-->
<!--      <textarea [(ngModel)]="description"></textarea>-->
<!--    </label>-->

  </div>

</div>
