<div class="upper-map">
  <agm-map
    [latitude]="trash.Location[0]"
    [longitude]="trash.Location[1]"
    [zoom]="8"
    (mapReady)="onMapReady($event)"
    disableDoubleClickZoom="true">
    <agm-marker [latitude]="trash.Location[0]" [longitude]="trash.Location[1]">
    </agm-marker>
  </agm-map>
</div>

<div>
  <div class="position">
    <p class="latitude">{{trash.Location[0]}}</p>
    <p>{{trash.Location[1]}}</p>
  </div>
</div>

<div class="trash-detail-content">
  <div class="left-part">
    <div *ngIf="finder" class="finder">
      <label>Founder:</label><br>
      <app-image [service]="'users'" [image]="finder.Avatar"></app-image>
      <a [routerLink]="['/users/profile', finder.Id]">
        {{finder.FirstName}} {{finder.LastName}}
      </a>
    </div>

    <div class="events-container">
      <div>
        <button mat-button (click)="onCreateEvent()">Create event</button>
      </div>
      <div>
        <button *ngIf="isLoggedIn" mat-button (click)="onEdit()">Edit trash</button>
      </div>
      <div>
        <button *ngIf="isLoggedIn" mat-button (click)="onCreateCollection()">Create collection</button>
      </div>
    </div>

    <div>
      <p *ngIf="trash.Cleaned">Trash is cleaned</p>

      <div class="detail-container">
        <label class="trash-detail-label">
          Size: {{trash.Size}}
        </label>


        <div class="trash-types">
          <div class="trash-type-column">
            <mat-checkbox [checked]="trashTypeBool.TrashTypeHousehold">Household</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeAutomotive">Automotive</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeConstruction">Construction</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypePlastics">Plastics</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeElectronic">Electronic</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeGlass">Glass</mat-checkbox>
          </div>
          <div class="trash-type-column">
            <mat-checkbox [checked]="trashTypeBool.TrashTypeMetal">Metal</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeDangerous">Dangerous</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeCarcass">Carcass</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeOrganic">Organic</mat-checkbox>
            <mat-checkbox [checked]="trashTypeBool.TrashTypeOther">Other</mat-checkbox>
          </div>
        </div>

        <label>Description:</label><br>
        <p>{{trash.Description}}</p><br>

        <label class="trash-detail-label">Accessibility:</label><br>
        <p>{{trash.Accessibility}}</p><br>
      </div>

      <div *ngIf="trash.Collections.length <= 0">
        <p>No collections</p>
      </div>
      <table *ngIf="trash.Collections.length > 0" mat-table [dataSource]="shownCollections" class="mat-elevation-z8">

        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight[kg]</th>
          <td mat-cell *matCellDef="let element"> {{element.collection.Weight}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td mat-cell *matCellDef="let element"> {{element.collection.CreatedAt | date: 'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="showMore">
          <th mat-header-cell *matHeaderCellDef> Show more</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="onShowCollection(element.collection.Id)">Show details</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-button *ngIf="element.canEdit" (click)="onEditCollection(element.collection.Id)">Edit</button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="tableColumnsTrashCollections"></tr>
        <tr mat-row *matRowDef="let row; columns: tableColumnsTrashCollections;"></tr>
      </table>
    </div>
  </div>

  <div class="right-part">
    <div *ngFor="let pic of trash.Images">
      <app-image [size]="'medium'" [image]="pic.Url" [service]="'trash'"></app-image>
    </div>

  </div>
</div>

<div class="comments">
  <div>
    <div class="comments" *ngFor="let comment of comments">
      <p>{{comment.UserName}}:</p>
      <p>{{comment.Message}}</p>
      <p>{{comment.CreatedAt | date:"dd/MM/yyyy HH:mm"}}</p>
    </div>

    <div *ngIf="isLoggedIn" class="text-part">
      <input [(ngModel)]="message" class="comment-input">
      <button mat-button (click)="commentOnTrash()">Comment</button>
    </div>
  </div>
</div>
