<h1 mat-dialog-title>Collection</h1>
<div mat-dialog-content class="margin">

  <div *ngIf="show">
    <input type="number" [(ngModel)]="data.collection.Weight" >
    <mat-checkbox [(ngModel)] = "data.collection.CleanedTrash">Cleaned trash</mat-checkbox>
    <div *ngFor="let image of images;let i = index">
      <app-image [image]="image.Url" [service]="'collections'"></app-image>
<!--      <button *ngIf="!i.inDeleteList" mat-button color="warn" (click)="onDelete(i.Url)">Delete</button>-->
<!--      <button *ngIf="i.inDeleteList" mat-button (click)="onRemoveFromList(i.Url)">Undo deletion</button>-->
      <mat-checkbox [(ngModel)]="data.collection.Images[i].inDeleteList">delete picture</mat-checkbox>
    </div>
  </div>

  <label>
    Upload new images:
  </label>
  <input type="file" (change)="onUpload($event)" multiple>


</div>
<div mat-dialog-actions>
  <button class="bottom-buttons" mat-button (click)="onNoClick()">Close</button>
  <button class="bottom-buttons" mat-button color="primary" (click)="onSave()">Save changes</button>
  <button class="bottom-buttons" mat-button color="warn" (click)="onSetDelete()">DELETE</button>
</div>
