<div class="report-container">

  <div class="report-items">
    <form [formGroup]="trashForm" (ngSubmit)="onSubmit()">

      <div class="border-merger form-item">
        <label>
          Size:
        </label>
        <mat-slider
          class="slider-margin"
          [max]="3"
          [min]="0"
          [step]="1"
          formControlName="size"
        >
        </mat-slider>
        <p>{{printSize()}}</p>
      </div>

      <label></label>
      <div class="trash-types form-item">
        <mat-checkbox formControlName="trashTypeHousehold">Household</mat-checkbox>
        <mat-checkbox formControlName="trashTypeAutomotive">Automotive</mat-checkbox>
        <mat-checkbox formControlName="trashTypeConstruction">Construction</mat-checkbox>
        <mat-checkbox formControlName="trashTypePlastics">Plastics</mat-checkbox>
        <mat-checkbox formControlName="trashTypeElectronic">Electronic</mat-checkbox>
        <mat-checkbox formControlName="trashTypeGlass">Glass</mat-checkbox>
        <mat-checkbox formControlName="trashTypeMetal">Metal</mat-checkbox>
        <mat-checkbox formControlName="trashTypeDangerous">Dangerous</mat-checkbox>
        <mat-checkbox formControlName="trashTypeCarcass">Carcass</mat-checkbox>
        <mat-checkbox formControlName="trashTypeOrganic">Organic</mat-checkbox>
        <mat-checkbox formControlName="trashTypeOther">---other---</mat-checkbox>
      </div>

      <label>Description</label><br>
      <textarea placeholder="Write your description here"
                class="description form-item" type="text" formControlName="description"> </textarea><br>

      <div>
        <mat-form-field>
          <mat-label>Accessibility</mat-label>
          <mat-select formControlName="accessibility form-item" multiple>
            <mat-option *ngFor="let choice of accessibilityChoices" [value]="choice">{{choice}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="finish-form">
        <mat-checkbox formControlName="anonymously">Report anonymously</mat-checkbox>
        <br>
        <input type="file" (change)="onFileSelected($event)" multiple>
        <button mat-stroked-button color="primary" type="submit">Submit</button>
      </div>

    </form>


  </div>

  <div class="report-items">
<!--    <input disabled="true" type="text" [value]="markerLat" formControlName="lat"><br>-->
<!--    <input disabled="true" type="text" [value]="markerLng" formControlName="lng">-->
    <agm-map
      [latitude]="initMapLat"
      [longitude]="initMapLng"
      [zoom]="5"
      (mapReady)="onMapReady($event)"
      disableDoubleClickZoom="true">

      <agm-marker [latitude]="markerLat" [longitude]="markerLng"
                  [markerDraggable]="true"
                  (drag)="onDragging($event)">
      </agm-marker>
    </agm-map>
  </div>


</div>
