agm-map{
  height: 300px;
  width: 500px;
}

.report-container {
  display: flex;
  flex-wrap: wrap;
}

.report-items {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /*align-items: baseline;*/
  /*align-content: flex-start;*/
}

.slider-margin {
  margin: 8px;
  width: 15%;
}

.description{
  width: 500px;
  height: 100px;
}
