<h1 mat-dialog-title>Collection</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Created at:</mat-label>
    <input matInput [(ngModel)]="data.collection.CreatedAt">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Weight in kilograms:</mat-label>
    <input matInput [(ngModel)]="data.collection.Weight">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
<!--  <button mat-button (click)="onNoClick()">Close</button>-->
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
  <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Delete account</button>
</div>
