<h1 mat-dialog-title>Hi {{data.viewName}}</h1>
<div mat-dialog-content>
  <p>Edit your profile</p>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
  <button mat-button color="warn" (click)="onDeleteAccount()" cdkFocusInitial>Delete account</button>
</div>
