<h1 mat-dialog-title>Create society</h1>
<div mat-dialog-content class="margin">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
<!--    <input matInput [(ngModel)]="data.description">-->
    <label>Description</label><br>
    <textarea matInput [(ngModel)]="data.description" placeholder="Would you like to describe your society?"
              class="description" type="text"> </textarea><br>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Create</button>
</div>
