.create-button {
  margin-top: 40px;
  margin-right: 100px;
}

.societies-table {
  width: 100%;
}
:host {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.table-wrapper {
  margin-top: 6%;
  width: 100%;
}








