<div class="society-container">

  <div *ngIf="society" class="information-container">
    <h1>{{society.Name}}</h1>
    <div *ngIf="isLoggedIn">
      <div *ngIf="!isAdmin && isMember">
        <button *ngIf="isMember" mat-button color="primary" (click)="onLeave()">Leave</button>
      </div>
      <div *ngIf="!isAdmin && !isMember && !askedForMembership">
        <button *ngIf="!isMember" mat-button color="primary" (click)="onAskForMembership()">Ask for membership</button>
      </div>
      <div *ngIf="!isAdmin && !isMember && askedForMembership">
        <button *ngIf="!isMember" mat-button color="primary" (click)="onRemoveApplication()">Remove application</button>
      </div>
    </div>
    <app-image [service]="'societies'" [image]="society.Avatar"></app-image>
    <div *ngIf="isAdmin">
      <button mat-button color="primary" (click)="onEdit()" >Edit</button>
    </div>
    <p>{{society.Description}}</p>
  </div>

  <div class="tables">
    <div *ngIf="isAdmin">
      <label>Applicants for entering:</label>
      <table mat-table [dataSource]="applicants" class="mat-elevation-z8">
        <ng-container matColumnDef="first-name">
          <th mat-header-cell *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>
        <ng-container matColumnDef="last-name">
          <th mat-header-cell *matHeaderCellDef> Last name </th>
          <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>
        <ng-container matColumnDef="accept-button">
          <th mat-header-cell *matHeaderCellDef> Accept </th>
          <td mat-cell *matCellDef="let element"><button mat-button (click)="onAccept(element.Id)">Accept</button></td>
        </ng-container>
        <ng-container matColumnDef="deny-button">
          <th mat-header-cell *matHeaderCellDef> Deny </th>
          <td mat-cell *matCellDef="let element"> <button mat-button color="warn" (click)="onDeny(element.Id)">Deny</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="requestsReceivedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: requestsReceivedColumns;"></tr>
      </table>
    </div>

    <div class="members">
      <label>Members:</label>
      <table mat-table [dataSource]="members" class="mat-elevation-z8">
        <!-- Weight Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element"><app-image service="'users'" [image]="element.Avatar"></app-image></td>
        </ng-container>

        <ng-container matColumnDef="first-name">
          <th mat-header-cell *matHeaderCellDef> First name </th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="last-name">
          <th mat-header-cell *matHeaderCellDef> Last name </th>
          <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="membersColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: membersColumns;"></tr>
      </table>
    </div>

    <div class="past-events">
      <label>Participated at events:</label>
      <table mat-table [dataSource]="participatedEvents" class="mat-elevation-z8">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
        </ng-container>

        <ng-container matColumnDef="interested-people">
          <th mat-header-cell *matHeaderCellDef> Interested people </th>
          <td mat-cell *matCellDef="let element"> {{element.attendingPeople}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> See details </th>
          <td mat-cell *matCellDef="let element"><button mat-button (click)="onSeeDetails(element.id)">See</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="participatedEventsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: participatedEventsColumns;"></tr>
      </table>
    </div>

    <div class="upcoming-events">
      <label>Upcoming events:</label>
      <table mat-table [dataSource]="futureEvents" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.Date | date: 'dd/MM/yyyy HH:mm'}} </td>
        </ng-container>

        <ng-container matColumnDef="interested-people">
          <th mat-header-cell *matHeaderCellDef> Interested people </th>
          <td mat-cell *matCellDef="let element"> {{element.attendingPeople}} </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> See details </th>
          <td mat-cell *matCellDef="let element"><button mat-button (click)="onSeeDetails(element.id)">See</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="upcomingEventsColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: upcomingEventsColumns;"></tr>
      </table>
    </div>
  </div>
</div>
