<h1 mat-dialog-title>Collection</h1>
<div mat-dialog-content class="margin">

  <div *ngIf="show">
    <input type="number" [(ngModel)]="data.collection.Weight" >
    <div *ngFor="let i of images">
      <app-image [image]="i.Url" [service]="'collections'"></app-image>
      <button *ngIf="!i.InList" mat-button color="warn" (click)="onDelete(i.Url)">Delete</button>
      <button *ngIf="i.InList" mat-button (click)="onRemoveFromList(i.Url)">Undo</button>
    </div>
  </div>

  <label>
    Upload new images:
  </label>
  <input type="file" (change)="onUpload($event)" multiple>


</div>
<div mat-dialog-actions>
  <button class="bottom-buttons" mat-button (click)="onNoClick()">Close</button>
  <button class="bottom-buttons" mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save changes</button>
  <button class="bottom-buttons" mat-button color="warn" (click)="onSetDelete()" cdkFocusInitial>DELETE</button>
</div>
