<div class="report-container">

  <div class="report-items">
    <h3>LOGIN</h3>
  </div>

<div class="report-items">

  <form [formGroup]="checkoutForm" (ngSubmit)="login(checkoutForm.value)">

    <div>
      <label for="email">
        Name
      </label>
      <input id="email" type="text" formControlName="email">
    </div>

    <div>
      <label for="password">
        Password
      </label>
      <input id="password" type="text" formControlName="password">
    </div>

    <button class="button" type="submit">Purchase</button>

  </form>
  <button (click)="loginInWithGoogle()">Sign in with google</button>
</div>

</div>
