:host{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 450px;
}

.login-form mat-card-content {
  display: flex;
  flex-direction: column;
}

.login-form mat-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form mat-card-actions button {
  width: 100%;
  margin: 8px;
}
