

<div class="mymap">

  <button class="marker-filter" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu class="marker-menu" #menu="matMenu">
    <mat-checkbox [(ngModel)] = "showNotCleaned" (change)="onNotCleanedOption($event)">Show not cleaned</mat-checkbox>
    <mat-checkbox [(ngModel)] = "showCleaned" (change)="onCleanedOption($event)">Show Cleaned</mat-checkbox>
  </mat-menu>

  <agm-map #agmMap
    [latitude]="location.lat"
    [longitude]="location.lng"
    [zoom]="location.zoom"
    [minZoom]="location.minZoom"
    (mapDblClick)="addMarker($event.coords.lat, $event.coords.lng)"
    (boundsChange)="onBoundsChange()"
    (mapReady)="onMapReady($event)"
    (mapRightClick)="onRightClick()"
    disableDoubleClickZoom="true">

    <agm-marker *ngFor="let marker of filteredMarkers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng"
                [markerDraggable]="marker.new"
                [iconUrl]=""
                (markerClick)="selectMarker(i, $event)"
                (drag)="dragging(i, $event)">
      <agm-info-window [disableAutoPan]="true">
        <div *ngIf="marker.new">
          <button (click)="createTrash(marker)">Report dump</button>
        </div>
        <div *ngIf="!marker.new" class="show-trash-on-map">
          <app-image *ngIf="marker.images.length > 0" [image]="marker.images[0].Url" [service]="'trash'"></app-image>
          <div>
            <p>Collections made: {{marker.numOfCollections}}</p>
            <p>Cleaned: {{marker.cleaned ? "yes" : "no"}}</p>
            <button (click)="navigateToTrash(marker.id)">Details</button>
          </div>
        </div>
      </agm-info-window>
    </agm-marker>

  </agm-map>

</div>
