<div class="mymap">
  <agm-map
    [latitude]="location.lat"
    [longitude]="location.lng"
    [zoom]="location.zoom"
    (mapDblClick)="addMarker($event.coords.lat, $event.coords.lng)"
    (mapReady)="onMapReady($event)"
    disableDoubleClickZoom="true">

    <agm-marker *ngFor="let marker of markers; let i = index" [latitude]="marker.lat" [longitude]="marker.lng"
                [markerDraggable]="marker.new"
                (markerClick)="selectMarker(i, $event)"
                (drag)="dragging(i, $event)">
      <agm-info-window [disableAutoPan]="true">
        <button *ngIf="marker.new" (click)="createTrash(marker)">Report dump</button>
      </agm-info-window>

    </agm-marker>
  </agm-map>
  <div id="child">
    <button>Díky Šišo</button>
    <div *ngIf="selectedMarker">
      <p *ngIf="selectedMarker.new">{{selectedMarker.lat}}</p>
      <p *ngIf="selectedMarker.new">{{selectedMarker.lng}}</p>
    </div>
  </div>

</div>
