agm-map {
  height: 100%;
  width: 100%;
}

.mymap {
  position: relative;
  height: 100%;
  width: 100%;
}
:host {
  width: 100%;
}

.show-trash-on-map {
  display: flex;
}

.show-trash-on-map img {
  width: 50px;
  height: 50px;
}

marker-filter {
  position: absolute;
  right: 40px;
  top: 100px;
  opacity: 0.5;
}

marker-menu {
  display: flex;
  flex-direction: column;
}
