<div class="platform-container">
  <app-nav-list class="sidenav" id="leftpane"></app-nav-list>
  <div class="main-container">
    <router-outlet class="main" id="rightpane"></router-outlet>
    <div id="child">
      <button>Tu bude logout</button>
    </div>
  </div>
</div>

<!--I want to have buttton logout on upper right corner whenever user wants to log out-->
<!--Maybe also Me button should be there-->
<!--<button mat-button>-->
<!--  <mat-icon>mic</mat-icon>-->
<!--  Logout-->
<!--</button>-->
