<div class="report-container">

  <div class="report-items">
    <form [formGroup]="trashForm" (ngSubmit)="onSubmit()">

      <div class="border-merger form-item">
        <label>
          Size:
        </label>
        <mat-slider
          class="slider-margin"
          [value]="sizeValue"
          [max]="3"
          [min]="0"
          [step]="1"
          formControlName="size"
        >
        </mat-slider>
        <p>{{sizeView}}</p>
      </div>

      <label></label>
      <div class="trash-types form-item">
        <mat-checkbox formControlName="trashTypeHousehold">Household</mat-checkbox>
        <mat-checkbox formControlName="trashTypeAutomotive">Automotive</mat-checkbox>
        <mat-checkbox formControlName="trashTypeConstruction">Construction</mat-checkbox>
        <mat-checkbox formControlName="trashTypePlastics">Plastics</mat-checkbox>
        <mat-checkbox formControlName="trashTypeElectronic">Electronic</mat-checkbox>
        <mat-checkbox formControlName="trashTypeGlass">Glass</mat-checkbox>
        <mat-checkbox formControlName="trashTypeMetal">Metal</mat-checkbox>
        <mat-checkbox formControlName="trashTypeDangerous">Dangerous</mat-checkbox>
        <mat-checkbox formControlName="trashTypeCarcass">Carcass</mat-checkbox>
        <mat-checkbox formControlName="trashTypeOrganic">Organic</mat-checkbox>
        <mat-checkbox formControlName="trashTypeOther">---other---</mat-checkbox>
      </div>

      <label>Description</label><br>
      <textarea placeholder="Write your description here"
                class="description form-item" type="text" [value]="trash.Description" formControlName="description"> </textarea><br>

      <div class="form-item">
        <mat-form-field>
          <mat-label>Accessibility</mat-label>
          <mat-select [(value)]="trash.Accessibility" formControlName="accessibility" multiple>
            <mat-option *ngFor="let choice of accessibilityChoices" [value]="choice">{{choice}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="finish-form">
        <input type="file" (change)="onFileSelected($event)" multiple>
      </div>

      <button mat-button (click)="onSubmit()">Save</button>
      <button mat-button (click)="onDelete()">Delete trash</button>

    </form>


  </div>

</div>
