<div class="report-container">

  <div class="report-items">
    <form [formGroup]="trashForm">

      <div class="border-merger form-item">
        <label>
          Size:
        </label>
        <mat-slider
          class="slider-margin"
          [(value)]="sizeValue"
          [max]="3"
          [min]="0"
          [step]="1"
          formControlName="size"
          (valueChange)="printSize()"
        >
        </mat-slider>
        <p>{{sizeView}}</p>
      </div>

      <label></label>
      <div class="trash-types form-item">
        <mat-checkbox [checked]="trash.Cleaned" formControlName="cleaned">Cleaned</mat-checkbox>
      </div>

      <label>Trash types:</label>
      <div class="trash-types form-item">
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeHousehold" formControlName="trashTypeHousehold">Household</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeAutomotive" formControlName="trashTypeAutomotive">Automotive</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeConstruction" formControlName="trashTypeConstruction">Construction</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypePlastics" formControlName="trashTypePlastics">Plastics</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeElectronic" formControlName="trashTypeElectronic">Electronic</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeGlass" formControlName="trashTypeGlass">Glass</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeMetal" formControlName="trashTypeMetal">Metal</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeDangerous" formControlName="trashTypeDangerous">Dangerous</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeCarcass" formControlName="trashTypeCarcass">Carcass</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeOrganic" formControlName="trashTypeOrganic">Organic</mat-checkbox>
        <mat-checkbox [(ngModel)]="trashTypeBool.TrashTypeOther" formControlName="trashTypeOther">Other</mat-checkbox>
      </div>

      <label>Description</label><br>
      <textarea placeholder="Write your description here"
                class="description form-item" type="text" [(ngModel)]="trash.Description" formControlName="description"> </textarea><br>

      <div class="form-item">
        <mat-form-field>
          <mat-label>Accessibility</mat-label>
          <mat-select [(ngModel)]="trash.Accessibility" formControlName="accessibility">
            <mat-option *ngFor="let choice of accessibilityChoices" [value]="choice.key">{{choice.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngFor="let image of trash.Images">
        <a (click)="onOpenImage(image.Url)"><app-image [image]="image.Url" [service]="'trash'"></app-image></a>
        <button mat-button color="warn" (click)="onDeleteImage(image.Url)">Delete image</button>
      </div>

      <div class="finish-form">
        <label>Load new images:</label>
        <input type="file" (change)="onFileSelected($event)" multiple>
      </div>

      <button mat-button (click)="onSave()">Save</button>
      <button mat-button (click)="onDelete()">Delete trash</button>

    </form>


  </div>

</div>
