<div class="edit-collection-random">
  <div class="edit-collection-form">
    <mat-form-field>
      <mat-label>Your friends not in here:</mat-label>
      <mat-select [formControl]="addFriends" multiple>
        <mat-option *ngFor="let user of friendsNotInCollection" [value]="user.Id">{{user.Email}}</mat-option>
      </mat-select>
    </mat-form-field>
    <input type="number" [(ngModel)]="newWeight">
    <mat-checkbox [(ngModel)]="newCleanedTrash">Cleaned trash</mat-checkbox>
  </div>

  <div *ngFor="let person of peopleInCollection" class="people-list">
    <p>{{person.Email}}</p>
  </div>

  <div *ngFor="let img of collectionImages" class="images-list">
    <app-image [image]="img.Url" [service]="'collections'" size="medium"></app-image>
    <button *ngIf="!img.inDeleteList" mat-button color="warn" (click)="onDeleteImage(img.Url)">Delete</button>
    <button *ngIf="img.inDeleteList" mat-button (click)="onRemoveFromDeleteList(img.Url)">Undo deletion</button>
  </div>



  <label>Upload new images:</label>
  <input type="file" (change)="onUpload($event)" multiple>

  <button mat-button color="primary" (click)="onUpdate()">Update Collection</button>
  <button mat-button color="warn" (click)="onLeave()">Leave from collection</button>
</div>
