<!--<h1 mat-dialog-title>Create society</h1>-->
<!--<div mat-dialog-content class="margin">-->
<!--    <label>Description</label><br>-->
<!--    <p>{{data.collection.Weight}}</p>-->
<!--  <div *ngFor="let collection of data.collection.Images">-->
<!--    <app-image [image]="collection.Url" [size]="'medium'" [service]="'collections'"></app-image>-->
<!--  </div>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">Close</button>-->
<!--</div>-->



<h1 mat-dialog-title>Collection</h1>
<div mat-dialog-content>
  <label>Created at:</label>
  <p>{{data.collection.CreatedAt | date: 'dd/MM/yyyy HH:mm'}}</p>

  <label>Weight in kilograms:</label>
  <p>{{data.collection.Weight}}</p>

  <div *ngFor="let picture of data.collection.Images">
    <app-image [image]="picture.Url" [service]="'trash'" size="large"></app-image>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>
